force-app/main/default/flows/Dummy_flow_for_DevOps_Center.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_account_id</name>
        <label>Assign account id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Increment_counter</name>
        <label>Copy 1 of Increment counter</label>
        <locationX>264</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_counter</name>
        <label>Increment counter</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Dummy flow for DevOps Center {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dummy flow for DevOps Center</label>
    <loops>
        <name>Copy_1_of_Loop_on_Account</name>
        <label>Copy 1 of Loop on Account</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <collectionReference>varAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Increment_counter</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_on_Account</name>
        <label>Loop on Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>varAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Loop_on_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_account_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccounts</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
